

.negrito{
    font-size: 20px;
    text-align: center;
}

    .banner{
        width: 100%;
    }
    .beneficios{
        background:#ffffff ;
        padding: 20px;
    }
    .imagemebeneficios{
        width: 50%;
    }
    .principal{
        background-color:#cccccc;
    padding: 30px;}

    .titulocentralizado{ text-align: center;

    }
    ul{display: inline-block;}